body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 80%;
}

.mt10 {
  margin-top: 10px;
}

button {
  background-color: #d3d3d3;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}
