
<section id="start" class="start">
    <mat-card>
        <div class="row justify-content-center">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <div class="text-center">                        
                    <mat-card-title  class="title">PROGRESSO DA SUA VIAGEM</mat-card-title>
                    <mat-card-subtitle class="sub-title">Aqui você pode acompanhar todo o fluxo da sua corrida.</mat-card-subtitle>
                </div>
                
                <div class="msform">
                    <mat-horizontal-stepper>
                        <!-- Passo a passo -->
                        <mat-step state="person">
                            <form class="padding">

                                <ng-template >Informações pessoais:</ng-template>
                                <ng-template matStepLabel>Dados Pessoais</ng-template>

                                <div class="form-card">
                                    <mat-form-field>
                                        <mat-label>Nome completo</mat-label>
                                        <input matInput placeholder="Nome" formControlName="name" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-card">
                                    <mat-form-field>
                                        <mat-label>CPF</mat-label>
                                        <input matInput placeholder="000.000.000-00" formControlName="cpf" required>
                                    </mat-form-field>
                                </div>
                                <div class="text-center padding">
                                    <button mat-raised-button class="btn-primary" matStepperPrevious>Anterior</button>
                                    <button mat-raised-button class="btn-primary margin-left" matStepperNext>Próximo</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step state="vehicle">
                            <form>
                                <ng-template matStepLabel>Escolha um veículo</ng-template>
                                <div class="form-card">
                                    <div class="card-car">
                                        <mat-card class="example-card">
                                            <mat-card-header>
                                                <div mat-card-avatar class="example-header-image"></div>
                                                <mat-card-title>BMW</mat-card-title>
                                                <mat-card-subtitle>Descrição BMW</mat-card-subtitle>
                                            </mat-card-header>
                                            <img mat-card-image  src="https://lh3.googleusercontent.com/proxy/ioMESRRPw8r24Jca5WJIynWKwX9AqXOTvZ1gbmldE8G01Sw75kTd5qj4qRqWUQ5zalWczrbPjLO9wfanldbu48u34aAMbzfwloHY0XjkPo9DJg" alt="Photo of a Shiba Inu">
                                        </mat-card>
                                    </div>
                                </div>

                                <div class="text-center padding">
                                    <button mat-raised-button class="btn-primary" matStepperPrevious>Anterior</button>
                                    <button mat-raised-button class="btn-primary margin-left" matStepperNext>Próximo</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step state="maps">
                            <form>
                                <ng-template matStepLabel>Trajeto</ng-template>
                                <div class="form-card">
                                    <mat-form-field>
                                        <mat-label>Ponto de partida</mat-label>
                                        <input matInput placeholder="Ex: Av. Paulista, 2000"  formControlName="inicio" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-card">
                                    <mat-form-field>
                                        <mat-label>Destino</mat-label>
                                        <input matInput placeholder="Ex: Rua 25 de março, 256" formControlName="fim" required>
                                    </mat-form-field>
                                </div>

                                <div class="text-center padding">
                                    <button mat-raised-button class="btn-primary" matStepperPrevious>Anterior</button>
                                    <button mat-raised-button class="btn-primary margin-left" matStepperNext>Chamar Motorista</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step state="start-trip">
                            <form>
                                <ng-template matStepLabel>Iniciar Viagem:</ng-template>
                                <div class="form-card">
                                    <p>Verifique se o seu veículo se o seu veículo chegou e inicie a corrida</p>
                                </div>

                                <div class="text-center padding">
                                    <button mat-raised-button class="btn-primary margin-left" matStepperNext>Iniciar Corrida</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step state="end-trip">
                            <form>
                                <ng-template matStepLabel>Finalizar Viagem:</ng-template>
                                <div class="form-card">
                                    <p>Chegou ao seu destino ?</p>
                                    <p>Finalize a sua corrida.</p>
                                </div>
                                <div class="text-center padding">
                                    <button mat-raised-button class="btn-primary margin-left" matStepperNext>Finalizar Corrida</button>
                                </div>
                            </form>
                        </mat-step>

                        <!-- Icon overrides. -->
                        <ng-template  matStepperIcon="person">
                            <mat-icon>person</mat-icon>
                        </ng-template>
                        <ng-template matStepperIcon="vehicle">
                            <mat-icon>directions_car</mat-icon>
                        </ng-template>
                        <ng-template matStepperIcon="maps">
                            <mat-icon>place</mat-icon>
                        </ng-template>
                        <ng-template matStepperIcon="start-trip">
                            <mat-icon>play_arrow</mat-icon>
                        </ng-template>
                        <ng-template class="color-teste" matStepperIcon="end-trip">
                            <mat-icon>stop</mat-icon>
                        </ng-template>
                    </mat-horizontal-stepper>
                </div>              
            </div>
        </div>
    </mat-card>
</section>
  
  