* {
    margin: 0;
    padding: 0
}
.start{
    padding-top: 5rem;
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);

}

html {
    height: 100%
}
.title {
    color: #673AB7;
}

.subtitle {
    color: grey;
    font-weight: 500;
    font-size: initial;
}

.msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}


.form-card {
    text-align: center;
}
.card {
    z-index: 0;
    border: none;
    position: relative;
}
.card-car{
    width: 26%;
}
