

<section id="start" class="start">
    <mat-card>
        <div class="row justify-content-center">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <div class="text-center">                        
                    <mat-card-title  class="title">PROGRESSO DA SUA VIAGEM</mat-card-title>
                    <mat-card-subtitle class="sub-title">Aqui você pode acompanhar todo o fluxo da sua corrida.</mat-card-subtitle>
                </div>
                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li id="personal" class="active">
                            <i class="material-icons">person</i>
                            <strong>Dados Pessoais</strong>
                        </li>
                        <li id="vehicle">
                            <i class="material-icons">directions_car</i>
                            <strong>Veículo</strong>
                        </li>
                        <li id="maps">
                            <i class="material-icons">place</i>
                            <strong>Trajeto</strong>
                        </li>
                        <li id="start-trip">
                            <i class="material-icons">play_arrow</i>
                            <strong>Iniciar Viagem</strong>
                        </li>
                        <li id="end-trip">
                            <i class="material-icons">stop</i>
                            <strong>Finalizar Viagem</strong>
                        </li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                    </div> 
                    <br>
                    <!-- fieldsets -->
                    <fieldset >
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Informações pessoais:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Etapa 1 - 4</h2>
                                </div>
                            </div>

                            <label class="fieldlabels">Nome: *</label> 
                            <input type="text" name="name" placeholder="Nome" autocomplete="off"/> 
                            <label class="fieldlabels">CPF: *</label> 
                            <input type="text" name="cpf" placeholder="000.000.000-00" autocomplete="off"/> 
                            <button  type="button" name="next" class="next action-button">Button</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Escolha um veículo:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Etapa 1 - 4</h2>
                                </div>
                            </div>

                            <label class="fieldlabels">Ponto de partida: *</label> 
                            <input type="text" name="inicio" placeholder="Ex: Av. Paulista, 2000" autocomplete="off"/> 
                            <label class="fieldlabels">Destino: *</label> 
                            <input type="text" name="fim" placeholder="Ex: Rua 25 de março, 256" autocomplete="off"/> 
                            <input type="button" name="next" class="next action-button" value="Próximo" />
                            <input type="button" name="previous" class="previous action-button-previous" value="Anterior" />

                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Insira o ponto de partida e destino:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Etapa 2 - 4</h2>
                                </div>
                                
                                <label class="fieldlabels">Ponto de partida: *</label> 
                                <input type="text" name="inicio" placeholder="Ex: Av. Paulista, 2000" autocomplete="off"/> 
                                <label class="fieldlabels">Destino: *</label> 
                                <input type="text" name="fim" placeholder="Ex: Rua 25 de março, 256" autocomplete="off"/> 
                            
                                <input type="button" name="next" class="next action-button" value="Próximo" />
                                <input type="button" name="previous" class="previous action-button-previous" value="Anterior" />
                            </div> 
                        </div> 
                        
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Iniciar corrida:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Etapa 3 - 4</h2>
                                </div>
                            </div> 
   
                            <p>Verifique se o seu veículo se o seu veículo chegou e inicie a corrida</p>

                            <input type="button" name="next" class="next action-button" value="Iniciar" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Finalizar corrida:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Etapa 4 - 4</h2>
                                </div>
                            </div> 
                            <br>
                            <p>Chegou ao seu destino ?</p>
                            <p>Finalize a sua corrida.</p>
                            <br><br>

                            <input type="button" name="next" class="end action-button" value="Finalizar" />
                            
                            <h2 class="purple-text text-center">
                                <strong>SUCCESS !</strong>
                            </h2> 
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                            </div> 
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">Obrigado por utilizar nossos serviços!</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                
            </div>
        </div>
    </mat-card>
</section>
  
  

  