/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: normal;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}
.bg-black{
    background-color: #181818;
}

.padding {
    padding: 1em !important;
}
.margin-left {
    margin-left: 1em !important;
}


.btn-primary {
    background-color:  #673AB7 !important;
    border-color: #673AB7 !important;
}

.btn-primary:hover {
    background-color: #50387c !important;
    border-color: #673AB7 !important;
}

.btn-primary:focus {
    background-color: #50387c !important;
    border-color: #673AB7 !important;
    color: white;
}

.btn-primary:active {
    background-color: #50387c !important;
    border-color: #673AB7 !important;
}